<main>
  <section class="details">
    <a (click)="toMain()" class="back-btn">← Go Back</a>
    <h2>Device Details</h2>

    <div class="image">
      <img src="/laptop.png" alt="Laptop" />
    </div>

    <table>
      <thead>
        <tr>
          <th>Device ID</th>
          <th>IP Address</th>
          <th>Hostname</th>
          <th>Device Type</th>
          <th>Ports Open</th>
          <th>Protocol</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dev of pcData$ | async">
          <td>{{ dev.ip }}</td>
          <td>{{ dev.mac }}</td>
          <td>{{ dev.hostname }}</td>
          <td>{{ dev.os }}</td>
          <td></td>
          <td>
            <span *ngFor="let port of dev.ports; let last = last">
              {{ port.port }} {{ last ? "" : ", " }}
            </span>
          </td>
          <td>
            <span *ngFor="let port of dev.ports; let last = last">
              {{ dev.vendor }} {{ last ? "" : ", " }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
